.form{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 340px;
    height: 30px;
}

.button{
    font-size: 16px;
    background: #FFF;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    height: 39px;
    width: 340px;
}

.button:hover {
    background-color: yellow;
    transform: scale(1.1);
}

.camposInput{
    display: flex;
    flex-direction: column;
}

.RadiomInput{
    width: 100%;
    display: flex;    
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin: 10px 0 10px 0;
}

.radio{
    display: flex;
    gap: 10px;
    margin: 5px 0;
}