.h1{
    font-size: 20px;
    font-weight: 200;
    margin-top: 40px;
}

.h2{
    font-size: 40px;
    font-family: HelveticaNeue,sans-serif;
}

.space{
    display: flex;
    flex-direction: column;
    align-items: center;
}