.header {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 350px;
    flex-direction: column;
    text-align: center;
}

/*
.header {
    background: #707070;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
    gap: 40px;
    padding: 40px 0;
    box-sizing: border-box;
    padding: 2em 3em 7em;
}

.separator {
    height: 125px;
    margin-top: calc(125px * -1);
    background-image: linear-gradient(to bottom left, transparent, transparent 50%, #FFF 50%, #FFF);
    transform: rotate(4deg) translateY(-150px) scale(1.5);
}

*/

.p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.texts {
    color: #fff;
}

.divButton {
    display: flex;
    gap: 30px;
}

.button {
    background: #FFF;
    box-shadow: 0 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    height: 40px;
    width: 160px;
}

.button:hover {
    background-color: yellow;
    transform: scale(1.1);
}


.bdSet {
    position: absolute;
    background-color: #707070;
    transform: rotate(4deg) translateY(-150px) scale(1.5);
    width: 100%;
    height: 350px;

}

.content {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 350px;
    flex-direction: column;
    text-align: center;
}